@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]:</h1>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>You can find us at the following location:</h4></div>
            <div class="panel-body">
                <address>
                    Atletiekpiste<br />
                    Atletiekweg<br />
                    9400 NINOVE<br />
                </address>
                <h4>We hope to see you there soon !!!</h4>
            </div>
        </div>
    </div>
</div>