@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Welcome to Evelyn and Tom's RunningBlog !</h1></div>
            <div class="panel-body">
                <h4>Please login to follow our journey!</h4>
                <a asp-controller="Post" asp-action="Index" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>
</div>
