
@{
    ViewData["Title"] = "ErrorNoCategories";
}

<h1>Before you can continue you have to define some categories</h1>
<h4>Each post belongs to one or more categories, please <a asp-controller="Category" asp-action="Index">create</a> some categories first!</h4>

